@import '../variables';
@import '../mixins';

.footer {
  @include block-border-box;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  padding: 2em 0;

  &::after {
    clear: both;
  }

  h3 {
    color: $lightest-text;
    float: left;
    padding-top: .5em;
  }

  ul {
    float: right;

    li {
      display: inline-block;

      a {
        display: block;
        padding: .5em 1em;
        text-decoration: none;
      }
    }
  }
}
