@import '../variables';
@import '../mixins';

.navbar {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-items: flex-start;
  flex-wrap: wrap;

  .navbar-logo {
    display: none;

    @media screen {
      @media (min-width: $media-br-1) {
        order: 1;
        display: inherit;
        padding-left: .25em;
      }
    }

  }

  .navbar-button {
    background-color: transparent;
    font-size: 2em;
    order: 1;
    padding: .25em;

    @media screen {
      @media (min-width: $media-br-1) {
        display: none;
      }
    }

  }

  .navbar-title {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    order: 2;
    margin: 0 auto;

    @media screen {
      @media (min-width: $media-br-1) {
        display: none;
      }
    }

  }

  .navbar-cart {
    font-size: 2em;
    order: 3;
    padding: .25em;

    @media screen {
      @media (min-width: $media-br-1) {
        order: 4;
      }
    }

  }

  .navbar-menu {
    order: 4;
    flex-basis: 100%;
    display: flex;
    flex-flow: column;
    justify-items: center;

    li {
      display: inline-block;

      a {
        color: $lighter-text;
        display: block;
        font-size: 1em;
        letter-spacing: 4px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        padding: .5em 1.5em;

        &:hover {
          color: $text-color;
        }
      }
    }

    @media screen {
      @media (min-width: $media-br-1) {
        order: 3;
        flex-flow: row;
        flex-basis: auto;
        margin-left: auto;
      }
    }

  }
}

