@import '../variables';
@import '../mixins';

.offer {
  @include block-border-box;
  width: 100%;
  margin: 0 auto;
  padding: 2em 0;
  overflow: hidden;

  &::after {
    clear: both;
  }

  .side-element {
    @include block-border-box;
    float: left;
    padding: 0 .5em;
    display: none;

    @media screen {
      @media (min-width: $media-br-1) {
        display: block;
        width: 35%;
      }

      @media (min-width: $media-br-3) {
        display: block;
        width: 20%;
      }

    }

    .filters {
      border-bottom: 2px solid $lighter-text;
      border-top: 2px solid $lighter-text;
    }

    .side-subtitle {
      font-size: 1.6em;
      padding: 1em 0;
      font-weight: 400;
      letter-spacing: 3px;
    }

    .reset-wrapper {
      padding-bottom: 1.5em;
    }

    .reset-button {
      font-size: 1em;
      outline: 0;
      background-color: $background-color;
      color: $lighter-text;
      border: 1px solid $border-color;
      padding: .2em .3em;
      cursor: pointer;
    }

  }

  .main-element {
    width: 100%;
    float: right;

    @media screen {
      @media (min-width: $media-br-1) {
        display: block;
        width: 65%;
      }

      @media (min-width: $media-br-3) {
        display: block;
        width: 80%;
      }
    }



    .result-filter {
      @include block-border-box;
      width: 100%;
      overflow: hidden;
      height: 60px;

      &::after {
        clear: both;
      }
    }

    .products {
      width: 100%;
      overflow: hidden;

      .product-upper-info {
        @include block-border-box;
        width: 100%;
        overflow: hidden;

        &::after {
          clear: both;
        }

        .fav-info {
          float: right;
          font-size: 1.5em;
          font-weight: 700;
          padding: .1em;
          cursor: pointer;
        }

        .new-info {
          font-size: 1.5em;
          float: left;
          visibility: inherit;

          &.hidden {
            visibility: hidden;
          }
        }
      }

      .product-lower-info {
        @include block-border-box;
        width: 100%;
        overflow: hidden;
        padding: .1em;

        &::after {
          clear: both;
        }
      }

      .product-price {
        display: block;
        float: left;
        font-size: 1.1em;
      }

      .product-to-cart {
        display: block;
        float: right;
        font-size: 1.1em;
        cursor: pointer;

        i {
          margin-right: .25em;
        }
      }

      .product-name {
        font-size: 1.2em;
        font-weight: 700;
      }

      .product-info {
        @include block-border-box;
        width: 100%;
        padding: 0 .1em;
        float: left;
        background-color: $background-color;
        border: 10px solid white;
        border-left: 0;
        border-radius: 0;

        @media screen {
          @media (min-width: $media-br-2) {
            display: block;
            padding: 2em;
            border: 2em solid white;
            border-right: 0;
            border-bottom: 0;
            width: 50%;
          }
        }


        a {
          font-size: 1.2em;
          text-decoration: none;

          @media screen {
            @media (min-width: $media-br-2) {
              font-size: 1.5em;
            }
          }
        }

      }

      img {
        display: block;
        width: 80%;
        margin: auto;
      }
    }
  }
}
