@import '../variables';
@import '../mixins';

.promo {
  @include block-border-box;
  background-color: $background-color;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  &::after {
    clear: both;
  }

  h2 {
    @include block-border-box;
    @include vremya;
    float: left;
    width: 100%;
    font-style: italic;
    font-size: 2em;
    padding: 2em 0 0;
    font-weight: 400;
    text-align: center;

    @media screen {
      @media (min-width: $media-br-1) {
        width: 50%;
        padding: 2em 0;
        font-size: 3em;
      }
    }


  }

  form {
    @include block-border-box;
    float: right;
    width: 100%;
    overflow: hidden;
    padding-bottom: 2em;

    @media screen {
      @media (min-width: $media-br-1) {
        width: 50%;
        padding: 0;
      }
    }


    &::after {
      clear: both;
    }

    input {
      @include block-border-box;
      font-size: 1em;
      padding: .5em 1em;
      outline: 0;
      float: left;
      margin-top: 4em;

      @media screen {
        @media (min-width: $media-br-1) {
          font-size: 1.5em;
        }
      }

      &[type='text'] {
        border: 3px solid $border-color;
        width: 70%;
      }

      &[type='button'] {
        border: 3px solid $black-color;
        width: 30%;
        background-color: white;
      }
    }
  }
}
