@import '../../variables';
@import '../../mixins';
@import '../../common';

.page-filter {
  @include block-border-box;
  padding: 1em 0 0 2em;
  overflow: hidden;

  &::after {
    clear: both;
  }

  ul {
    float: right;

    li {
      font-size: 1.2em;
      display: inline-block;
      padding: .5em 1em;
      color: $lighter-text;
      cursor: pointer;

      &.active {
        color: $text-color;
      }
    }
  }

  span {
    cursor: pointer;
    display: block;
    float: right;
    font-weight: 700;
    color: $text-color;
    padding: .5em 1em;
    font-size: 1.2em;
  }
}
