@import '../../variables';
@import '../../mixins';
@import '../../common';

.tags-list {
  padding: 0 0 1.5em;

  li {
    @include selected;
    user-select: none;
    width: auto;
    cursor: pointer;
    display: inline-block;
    padding-bottom: .5em;
    color: $lighter-text;

    &:last-of-type {
      &::after {
        content: '';
      }
    }

    &::after {
      color: $lightest-text;
      margin-right: 3px;
      content: ',';
    }
  }
}
