@import '../variables';
@import '../mixins';
@import '../common';

.slider {
  @include block-border-box;
  @include set-to-zero;
  position: relative;
  width: 100%;

  .nav {
    @include pos-absolute(5);

    box-sizing: border-box;
    display: inline-block;
    text-align: right;
    padding: 3em 4em;
    left: 0;
    bottom: 0;
    width: 100%;

    .current,
    .all {
      display: inline-block;
      padding: 0 .5em;
      font-size: 1.1em;
    }

    .of {
      @include vremya;
      font-style: italic;
      font-size: 1.1em;
    }

  }

  .prev {
    @include pos-absolute(6);
    cursor: pointer;
    top: 40%;
    left: 2%;
    font-size: 2em;
  }

  .next {
    @include pos-absolute(6);
    cursor: pointer;
    top: 40%;
    right: 2%;
    font-size: 2em;
  }

  .slider-view {
    @include set-to-zero;
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;

    @media screen {
      @media (min-width: $media-br-1) {
        height: 700px;
      }
    }

  }

  .slides {
    @include set-to-zero;
    position: absolute;
    white-space: nowrap;
    text-align: center;
    height: 100%;
    font-size: 0;
    width: 100%;
    transition-duration: 0s;
    transition-property: none;

    &.transition {
      transition-duration: 2s;
      transition-property: left;
    }


    .slide {
      @include set-to-zero;
      font-size: 1rem;
      background-color: #f5f5f5;
      box-sizing: border-box;
      display: inline-block;
      position: relative;
      vertical-align: top;
      text-align: left;
      white-space: normal;
      height: 100%;
      width: 100%;

      .image {
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
      }

      .info {
        font-size: 1em;
        position: absolute;
        z-index: 2;
        top: 30%;
        left: 10%;
        height: 60%;
        width: 80%;
        background-color: rgba(245, 245, 245, .5);

        @media screen {
          @media (min-width: $media-br-1) {
            top: 45%;
            left: inherit;
            right: 0;
            height: 50%;
            width: 50%;
            background-color: transparent;
          }
        }


        .info-title {
          @include set-to-zero;
          text-transform: uppercase;
          display: block;
          height: 2em;
          font-size: 1.5em;
          letter-spacing: 2px;
          font-weight: normal;
        }

        .info-description {
          display: block;
          font-size: 1em;
        }

      }

    }
  }
}
