@import '../../variables';
@import '../../mixins';
@import '../../common';


.filter-input {
  float: left;
  font-size: 1.5em;
  padding-top: 1em;
  padding-left: 0;

  @media screen {
    @media (min-width: $media-br-2) {
      padding-left: 1em;
    }
  }


  .filter-container {
    background-color: white;
    position: absolute;
  }

  .button {
    @include set-to-zero;
    display: inline-block;
    height: 28px;
    width: 1em;


    i {
      transition-duration: 250ms;
      transition-property: transform;
      position: absolute;
      margin-top: .35em;

      &.rotated {
        transform: rotateZ(180deg);
      }
    }
  }

  span {
    padding: 0 .2em;
    font-size: .85em;
  }

  .sort-methods {
    width: 100%;
    height: 0;
    display: block;
    left: 0;
    top: 100%;
    bottom: 0;
    background-color: white;
    overflow: hidden;
    font-size: .85em;
    transition-duration: 500ms;
    transition-property: height;

    &.visible {
      height: 140px;
    }


    li {
      cursor: pointer;
      text-align: center;

      &:hover {
        background-color: $border-color;
      }
    }
  }

}
