@import '../../variables';
@import '../../mixins';
@import '../../common';

.c-picker {
  @include block-border-box;
  cursor: pointer;
  display: inline-block;
  margin-right: 3px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: relative;

  & > .icon {
    display: block;
    position: absolute;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    &.hidden {
      visibility: hidden;
    }
  }

  &.light {
    border: 1px solid $border-color;
  }

  &.dark {
    background-color: $text-color;

    & > .icon {
      color: lighten($text-color, 60%);
    }
  }
}
