@import '../../variables';
@import '../../mixins';
@import '../../common';

.navbar-cart {
  font-size: 2em;
  order: 3;
  padding: .25em;
  outline: 0;
  cursor: pointer;
  position: relative;

  .items-in-basket {
    @include block-border-box;
    @include set-to-zero;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 10%;
    bottom: 10%;
    font-weight: bolder;
    font-size: 12px;
    text-align: center;
    padding-top: 1px;

    &.hidden {
      visibility: hidden;
    }
  }

  @media screen {
    @media (min-width: $media-br-1) {
      order: 4;
    }
  }

}
