@import 'variables';
@import 'mixins';
@import 'utils/fonts';

@include custom-font-mixin('Roboto Condensed', 'robotocondensed-light', 300, normal, $path-roboto-condensed);
@include custom-font-mixin('Roboto Condensed', 'robotocondensed-regular', 400, normal, $path-roboto-condensed);
@include custom-font-mixin('Roboto Condensed', 'robotocondensed-bold', 700, italic, $path-roboto-condensed);

@include custom-font-mixin('VremyaFWF', 'vremf___', 400, normal, $path-vremya-fwf);
@include custom-font-mixin('VremyaFWF', 'vremfi__', 400, italic, $path-vremya-fwf);
@include custom-font-mixin('VremyaFWF', 'vremfb__', 700, normal, $path-vremya-fwf);
@include custom-font-mixin('VremyaFWF', 'vremfbi_', 700, italic, $path-vremya-fwf);

@mixin roboto {
  font-family: 'Roboto Condensed', 'Consolas', sans-serif;
}

@mixin vremya {
  font-family: 'VremyaFWF', 'Times New Roman', serif;
}

*,
html,
body {
  @include roboto;
  @include set-to-zero;
  color: $text-color;
}

ul {
  display: block;
  list-style-type: none;
}

.application {
  width: 90%;
  max-width: 1850px;
  margin: 0 auto;
}

.small-title {
  padding: .5em 0;
  font-weight: 400;
  font-size: 1.3em;
}

.ordinary-list {
  padding: 0 0 1.5em;

  li {
    @include selected;
    user-select: none;
    display: block;
    cursor: pointer;
    width: 100%;
    padding-bottom: .5em;
    color: $lighter-text;

    sup {
      color: $lightest-text;
    }
  }
}
