@import 'variables';

@mixin set-to-zero {
  border: 0;
  margin: 0;
  padding: 0;
}

@mixin block-border-box {
  box-sizing: border-box;
  display: block;
}

@mixin pos-absolute($index) {
  position: absolute;
  z-index: $index;
}

@mixin selected {
  &.selected {
    font-weight: 700;
    color: $text-color;

    sup {
      font-weight: 400;
    }

    &::after {
      font-weight: 400;
    }

  }
}
