@import 'variables';
@import 'mixins';
@import 'common';

@mixin selected {
  &.selected {
    font-weight: 700;
    color: $text-color;

    sup {
      font-weight: 400;
    }

    &::after {
      font-weight: 400;
    }

  }
}

%list-template {
  padding: 0 0 1.5em;

  li {
    @include selected;
    user-select: none;
    cursor: pointer;
    display: block;
    width: 100%;
    padding-bottom: .5em;
    color: $lighter-text;

    sup {
      color: $lightest-text;
    }
  }
}

.ordinary-list {
  @extend %list-template;
}

.tags-list {
  @extend %list-template;

  & > li {
    width: auto;
    display: inline-block;

    &:last-of-type {
      &::after {
        content: '';
      }
    }

    &::after {
      color: $lightest-text;
      margin-right: 3px;
      content: ',';
    }
  }
}

.small-title {
  padding: .5em 0;
  font-weight: 400;
  font-size: 1.3em;
}

.c-picker {
  @include block-border-box;
  cursor: pointer;
  display: inline-block;
  margin-right: 3px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: relative;

  & > .icon {
    display: block;
    position: absolute;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    &.hidden {
      visibility: hidden;
    }
  }

  &.light {
    border: 1px solid $border-color;
  }

  &.dark {
    background-color: $text-color;

    & > .icon {
      color: lighten($text-color, 60%);
    }
  }
}

.price-filter {
  width: 100%;

  .inputs-row {
    width: 90%;
    margin: 0 auto;
    padding: 1em 0;
    overflow: hidden;

    &::after {
      clear: both;
    }

    .input-value {
      @include roboto;
      font-size: 1em;
      width: 40%;
      float: left;
      outline: 0;
      margin-right: .5em;
      color: $lighter-text;
      border: 1px solid $border-color;
      padding: .2em .3em;
    }

  }

  .field {
    @include block-border-box;
    width: 90%;
    height: 20px;
    margin: 0 auto;
    position: relative;
  }

  .beam {
    width: 100%;
    height: 2px;
    top: 50%;
    left: 0;
    background-color: grey;
    position: absolute;
    transform: translateY(-50%);
  }

  .beam-progress {
    width: 100%;
    height: 2px;
    top: 50%;
    left: 0;
    background-color: black;
    position: absolute;
    transform: translateY(-50%);
  }

  .pointer {
    @include block-border-box;
    height: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    width: 20px;
    top: 0;
    left: 0;
  }

}
